*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'HelveticaNeueCyr',sans-serif;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
.header{
    padding: 25px 0;
    border: 1px solid #E5E5E5;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 52px;
    flex: 1 1 auto;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1F1F1F;
}
.nav-link{
    position: relative;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: #1F1F1F !important;
}
.nav-link::after{
    display: none;
}
.nav-link::before{
    content: '';
    position: absolute;
    background: url(../img/cabinet-status-down.svg) center / cover no-repeat !important;
    border: none !important; 
    width: 14px;
    height: 14px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%)
}
.header__contacts{
    display: flex;
    align-items: center;
}
.header__call{
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.header__call::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    right: 0;
    background: #FF0716;
    border-radius: 50%;
}
.header__username{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-right: 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
.header__username:hover{
    color: #1f1f1f;
}
.header__contacts .btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    width: 68px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    margin-left: 21px;
    transition: 300ms ease;
}
.header__contacts .btn:focus{
    box-shadow: none;
}
.header__contacts .btn:hover {
    background: #dadada;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.cabinets{
    padding-top: 27px;
}
.cabinets__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabinets__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #1F1F1F;
}
.cabinets__right{
    display: flex;
    flex-direction: column;
    max-width: 245px;
    width: 100%;
}
.cabinets__right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 8px;
}
.cabinets__right-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
.cabinets__right-p{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    color: #969696;
}
.cabinets__right .progress{
    width: 100%;
    background: #E5E5E5;
    border-radius: 3px;
    height: 3px;
    margin-bottom: 25px;
}
.cabinets__right .progress-bar{
    background: #000000;
    border-radius: 3px 0px 0px 3px;
    display: block;
    width: 64%;
    height: 100%;
}
.cabinets__right-texts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 22px;
}
.cabinets__right-text{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
.cabinets__buttons{
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    margin-bottom: 27px;
}
.cabinets__button{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #B8B8B8;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    max-width: 413px;
    width: 100%;
    height: 26px;
    padding: 7px 13px;
    text-align: left;
    display: flex;
    align-items: center;
}
.cabinets__buttons-content{
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
}
.cabinets__btn{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
}
.cabinets__btn:nth-of-type(2){
    background: #1F1F1F;
    border-radius: 3px;
}
.cabinets__list{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    align-items: flex-start;
    margin-bottom: 27px;
}
.cabinets__list-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #1F1F1F;
}
.cabinets__list-content{
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
}
.cabinets__list-button{
    margin-right: 2px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabinets__list-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    background: #F5F5F5;
    border-radius: 3px;
    padding: 7px 8px 7px 12px;
}
.cabinets__filter{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    align-items: flex-start;
    margin-bottom: 31px;
}
.cabinets__filter-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #1F1F1F;
}
.cabinets__filter-buttons{
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
}
.cabinets__filter-btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #969696;
}
.cabinets__filter-btn.active, .cabinets__filter-btn:hover{
    color: #1f1f1f;
}
.cabinets__filter-dropdowns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
}
.cabinets__filter-button{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    background: #277AED;
    border-radius: 3px;
    height: 26px;
    padding: 7px 15px 6px 12px;
}
.cabinets__filter-p{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
.cabinets__filter-dropdowns .dropdown .btn{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    height: 26px;
    padding: 7px 38px 6px 12px;
}
.cabinets__filter-dropdowns .dropdown .btn:focus{
    box-shadow: none;
}
.cabinets__filter-dropdowns .dropdown .btn::after{
    display: none;
}
.cabinets__filter-dropdowns .dropdown .btn::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: url(../img/cabinet-status-down.svg);
}
.cabinets__filter-dropdowns .dropdown .dropdown-item{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #1F1F1F;
}
.cabinets__content-top{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.cabinets__content-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #969696;
}
.cabinets__content-item{
    display: flex;
    justify-content: flex-start;
    padding: 5px 13px;
    margin-left: -13px;
    margin-bottom: 3px;
    position: relative;
    max-width: 647px;
}
.cabinets__content-item::before{
    content: '';
    position: absolute;
    width: 16px;
    height: calc(100% + 3px);
    right: -15px;
    background: url(../img/cabinets-item-bg.svg) center / cover no-repeat;
    top: -2px;
    display: none;
}
.cabinets__content-item:hover{
    background: #F5F5F5;
    border-radius: 3px 0px 0px 3px;
}
.cabinets__content-item:hover::before{
    display: block;
}
.cabinets__item_1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 14px;
    min-width: 130px;
    width: 130px;
}   
.cabinets__item_1 input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid white;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    transition: 100ms;
}
.cabinets__item_1 input[type="checkbox"]:checked {
    border: 1px solid #1F1F1F;
    border-radius: 3px;
    background: url(../img/checkbox-tick.svg) center / contain no-repeat;
    width: 14px;
    height: 14px;
    transform: scale(1.05);
}
.cabinets__item_1 p{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    user-select: none !important;
    pointer-events: none;
}
.cabinets__item_2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 200px;
    width: 200px;
}
.cabinets__item_2 .dropdown_1 .btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 7px 60px 6px 11px;
    margin-right: 6px;
}
.cabinets__item_2 .dropdown_1 .btn:focus{
    box-shadow: none;
}
.cabinets__item_2 .dropdown_1 .btn::after{
    display: none;
}
.cabinets__item_2 .dropdown_1 .btn::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    background: url(../img/cabinet-status-down.svg);
}
.cabinets__item_2 .dropdown .dropdown-item{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}
.cabinets__item_2 .dropdown_2 .btn{
    background: none;
    border: none;
}
.cabinets__item_2 .dropdown_2 .btn:focus{
    box-shadow: none;
}
.cabinets__item_2 .dropdown_2 .btn::after{
    display: none;
}
.cabinets__item_3{
    min-width: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.cabinets__item_3 .dropdown .btn{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 108px;
    width: 100%;
}
.cabinets__item_3 .dropdown .btn:focus{
    box-shadow: none;
}
.cabinets__item_3 .dropdown .btn::after{
    display: none;
}
.cabinets__item_3 .dropdown .dropdown-item{
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
}
.cabinets__item_4{
    min-width: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    column-gap: 17px;
}
.cabinets__item_4 .cabinets__progress{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 7px;
}
.cabinets__item_4 .progress{
    background: #E5E5E5;
    border-radius: 3px;
    max-width: 91px;
    width: 100%;
    height: 3px;
}
.cabinets__item_4 .progress-bar{
    background: #277AED;
    border-radius: 3px 0px 0px 3px;
    width: 75%;
    display: block;
    height: 100%;
}
.cabinets__item_4 .progress-bar.progress-bar_yellow{
    background: #FBB86A;
    border-radius: 3px 0px 0px 3px;
    width: 42%;
}
.cabinets__item_4 p{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    color: #898989;
}
.cabinets__item_4 svg{
    width: 11px;
}
.cabinets__row{
    display: flex;
    align-items: flex-start;
}
.cabinets__right-top{
    display: flex;
    align-items: flex-start;
}
.cabinets__right-btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    max-width: 110px;
    width: 110px;
    height: 32px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabinets__wrapper-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.cabinets__wrapper-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 110px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    transform: translateY(-50%);
}
.cabinets__wrapper-content{
    display: flex;
    justify-content: flex-start;
    column-gap: 13px;
}
.cabinets__wrapper-item{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    max-width: 105px;
    width: 100%;
    padding: 10px 13px 10px 9px;
    position: relative;
}
.cabinets__wrapper-item::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(../img/cabinets__item-before.svg);
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
}
.cabinets__wrapper-item:nth-of-type(even){
    background: #FFFFFF;
    border: 1px dashed #DCDCDC;
    border-radius: 14px;
}
.cabinets__wrapper-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.cabinets__wrapper-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 8px;
    max-width: 100%;
    width: 100%;
}
.cabinets__wrapper-item .dropdown .btn{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 4px 34px 4px 7px;
    display: flex;
    align-items: center;
    height: 18px;
}
.cabinets__wrapper-item .dropdown .btn:focus{
    box-shadow: none;
}
.cabinets__wrapper-item .dropdown .btn::after{
    display: none;
}
.cabinets__wrapper-item .dropdown .btn::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    background: url(../img/cabinet-status-down.svg) center / cover no-repeat;
}
.cabinets__wrapper-item .dropdown-menu{
    min-width: 100px;
    padding: 5px 0;
}
.cabinets__wrapper-item .dropdown-item{
    font-size: 13px;
    line-height: 19px;
    padding: 3px 10px;
}
.cabinets__abs{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabinets__abs-item{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    min-width: 165px;
    width: 165px;
    padding: 12px 16px 10px 15px; 
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    column-gap: 21px;
    margin-left: 60px;
}
.cabinets__abs-title{
    max-width: 95px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    color: #000000;
}
.popup{
    position: relative;
    display: none;
}
.popup.active{
    display: block;
}
.popup-close{
    position: absolute;
    right: 17px;
    top: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.popup-close svg{
    width: 100%;
    height: 100%;
}
.popup1{
    margin-top: 40px;
    max-width: 392px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 13px rgba(151, 151, 151, 0.25);
    border-radius: 3px; 
    padding: 34px 30px 28px 30px;
}
.popup1__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #1F1F1F;
    margin-bottom: 12px;
}
.popup1__list{
    flex-wrap: wrap;
    max-width: 265px;
    width: 100%;
    row-gap: 6px;
    margin-bottom: 24px;
}
.popup1__subtitle{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    margin-bottom: 12px;
}
.popup1 select{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 10px 6px 12px;
    margin-bottom: 7px;
}
.popup1 select:focus{
    border: 1px solid #DCDCDC;
}
.popup1__textarea{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #969696;
    resize: none;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 100%;
    padding: 7px 12px;
    margin-bottom: 12px;
    height: 86px;
}
.popup1__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    font-weight: 550;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
    background: #277AED;
    border-radius: 3px;
    padding: 5px 12px 3px 12px;
}
.popup2{
    margin-top: 50px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 13px rgba(151, 151, 151, 0.25);
    border-radius: 3px;
    max-width: 290px;
    width: 100%;
}
